<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include seo.html %}
<meta name="description" content="{{ site.description | escape }}">
<meta name="author" content="{{ site.author.name | escape }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ site.author.avatar | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="preload" href="{{ '/assets/fonts/inter-latin.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%s' }}">
