<svg class="resource-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false">
  {% case include.type %}
    {% when 'paper' %}<path d="M14 3H6a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8Z"/><path d="M14 3v5h5M8 12h8M8 16h8"/>
    {% when 'slides' %}<path d="M3 4h18v12H3zM12 16v5M7 21l5-5 5 5M7 12V9M12 12V7M17 12v-2"/>
    {% when 'code' %}<path d="m8 6-6 6 6 6m8-12 6 6-6 6M14 3l-4 18"/>
    {% when 'video' %}<circle cx="12" cy="12" r="9"/><path d="m10 8 6 4-6 4Z"/>
  {% endcase %}
</svg>
